<div class="index_trips">
  <h1>INDEX TRIPS</h1>
    <div class= "card_trip">
    <% @trips.each do |trip| %>
      <div class= "card_trip_infos">
        <div>
          <h2>
        </div>
      </div>
    </div>
</div>
