// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #87B37A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$banner-bg: #494FB8;
$green-button: #87B37A;
$dark-blue: #1E2483;

$light-green: #9CE37D;
