.trip-front-part {
  padding-left: 4%;
}

.index-logo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  i {
    font-size: 20px;
  }

  p {
    margin: 0;
  }
}

.trip-name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  .round-trip {
    display: inline-grid;
  }
  i {
    margin: 0 15px;
  }
}

.logo-trash-pencil {
  i {
    font-size: 16px;
    margin: 0 5px;
  }
  a {
    color: #1E2483;
  }
}

.vehicle-type{
  font-size: 16px;
  font-weight: 500;
}

.button-trip-index {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.hidden-container {
  height: 90px;
  width: 100%;
}

.form-select{
  border-radius: 20px;
}
