.trip-front-part {
  padding-left: 4%;
}

.index-logo {
  display: flex;
  align-items: center;
  i {
    font-size: 20px;
  }

  p {
    margin: 0;
  }
}

.button-trip-index {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}
