<div class= "logo">
<%= image_tag 'logo.png', alt: "Logo Ecotrack" %>
</div>
<p class="secondary-title">Estimate your carbon print based on your weekly trip</p>
<%= link_to "Get started", new_place_path, class:"button-home" %>
