<h1 class="main-title">My Ecotrack's Score</h1>
<h3 class="secondary-title">Based on my weekly trip</h3>




<div class="page">



    <div class="container-score">
      <div class="logo">
        <%= image_tag "arcticons_earth.svg" %>
      </div>
      <h2>No score yet !</h2>
    </div>

  <button class="button-green">Plan my trips</button>






    <div class="container-smile">
      <div class="logo-smile">
        <i class="fa-regular fa-face-sad-tear"></i>
      </div>

      <p><strong>8,9 tons</strong>
        <br>
      CO2 / week</p>

      <Div class="stat">
        <i class="fa-solid fa-thumbs-down"></i>
        <p>Worse than 90%
            of the population
          </p>
      </Div>
    </div>






    <div class="container-smile">
      <div class="logo-smile">
        <i class="fa-regular fa-face-sad-tear"></i>
      </div>

      <p><strong>5,2 tons</strong>
        <br>
      CO2 / week</p>

      <Div class="stat">
        <i class="fa-solid fa-thumbs-down"></i>
        <p>Worse than 50%
            of the population
          </p>
      </Div>
    </div>




    <div class="container-smile">
      <div class="logo-smile">
        <i class="fa-regular fa-face-smile"></i>
      </div>
      <p><strong>1,2 tons</strong><br>CO2 / week</p>
      <div class="stat">
        <i class="fa-solid fa-thumbs-up"></i>
        <p>Better than 90% of the population</p>
      </div>
      <div class="compare">
        <p>- 7,7</p>
        <p>Tons of CO2 / week <br>
          compared to last week</p>
      </div>
      <br>
      <div class="compare">
        <p>+ 87 $</p>
        <br>
        <p>Saved in fuel budget</p>
      </div>
    </div>

    </div>








</div>
