.days-section {
  width: 100%;
}

.col-form-label {
  display: none;
}

.form_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-check {
  position: relative;
}

.form_label_trip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
}

.form_input {
  padding: 15px;
}

.form_input {
  display: none;
}

.form_input:checked + .form_label_trip {
  background-color: $green;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.form_input:not(:checked) + .form_label_trip {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button-create-trip {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.container-edit-trip {

  .form_input {
    display: block;
    width: 30px;
    height: 30px;
  }

  .days-section {
    width: 110%;
    display: flex;
    justify-content: space-between;
  }

  .day-checkbox {
    position: relative;
  }

  .form_input {
    visibility: hidden;
  }

  .form_label_trip {
    position: absolute;
  }
}
