.container-dark-blue {
  margin-left: 54px;
  margin-right: 54px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 42px;
  padding-right: 42px;
  background-color: #1E2483;
  color: #FFFFFF;
  border-radius: 20px;
}
