.container-layout {
  width: 100%;
  height: 100%;
}

.container-dark-blue {
  width: 80%;
  background-color: #1E2483;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 32px 20px 15px 20px;
  margin: 10% auto;
}

.container-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-inside form {
  align-self: center;
  width: 90%;
}

.container-trip {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1E2483;
  color: #FFFFFF;
  border-radius: 20px;
  align-items: center;
}

.trip-front-part{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-trip i {
  margin: 10px;
  font-size: 20px;
  color: white;
}

.form-car{
  display: flex;
  justify-content: center;
  color: $green-button;
  padding: 5px;
}

h3{
  display: flex;
  justify-content: center;
}

.container-message {
  margin:10px;
  padding: 10px;
  background-color: #ffffff;
  color: $dark-blue;
  border-radius: 20px;
  align-items: center;
  display: flex;
  width: 80%;
  gap: 13px;
}

.container-message p {
  margin: 0px;
  text-align: left;
}

.container-message h3 {
  display: flex;
  align-items: center;
 }
.container-message h3 i {
 padding: 2px;
 margin: 0;
}

.container-message .fa-solid {
  margin: 0 !important;
}
