.container-dark-blue {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1E2483;
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-inside form {
  align-items: flex-start;
  width: 90%;
}

.container-trip {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1E2483;
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-trip i {
  margin: 10px;
  color: white;
}

.form-car{
  display: flex;
  justify-content: center;
  color: $green-button;
  padding: 5px;
}

h3{
  display: flex;
  justify-content: center;
}
