.jauge {
  background-image: asset-url("rec.png");
  height: 30px;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;


  .avancement {
    position: absolute;
    top: -15px;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-image: asset-url("Polygon.png");

  }
}
