.navbar-ecotrack {
  background-color: #494FB8;
  padding: 10px;
  color: $light-gray;

}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  color: #494FB8 ;
}

.nav-link{
  color: $light-gray ;
}

h3{
  padding-top: 5px;
}

.logo_navbar {
  width: 50px;
}

.navbar-ecotrack a {
 text-decoration: none;
 color: white;
}
