.place{
  margin: 5px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 20px;
  color: $dark-blue;
  background-color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px;

}

.places{
  display: flex;
  justify-content: center;
  align-items: center;
}


.scroller {
  width: 75%;
  height: 120px;
  overflow-y: scroll;
  scrollbar-color: white green;
  scrollbar-width: thin;
  background-color: $dark-blue;
  margin-top: 20px;

}

.button-empty-green{
  width: 100%;
}

.container-inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-green.secondary-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash-can{
  color: white;
}

.form-control{
  border-radius: 20px;
}

.mapboxgl-ctrl{
  border-radius: 20px;
}

.icon-home{
display: flex;
justify-content: center;

}
