
.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}


.progression-bar {
  width: calc(50% - 7.5px);
  height: 20px;
  background-color: #87B37A;
  border: 2px solid #87B37A;
  border-radius: 20px;
  opacity: 40%;
}

.progression-bar-full {
  width: calc(50% - 7.5px);
  height: 20px;
  background-color: #87B37A;
  border: 2px solid #87B37A;
  border-radius: 20px;
}
