<h1 class="main-title">Welcome to EcoTrack!</h1>
<h2 class="secondary-title">Calculate the real impact of my trips!</h2>
  <div class="container-dark-blue">
    <h2 class="secondary-title">Let’s start with my locations</h2>
    <div class="container-inside">
      <%= render 'form', new: @place %>
    </div>
    <%= link_to "Next", new_vehicle_path, class: "button-green button-container secondary-title"  %>
  </div>

<% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<% if flash.now[:alert] %>
  <p class="alert"><%= flash.now[:alert] %></p>
<% end %>
