<h1>New place</h1>

<% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<% if flash.now[:alert] %>
  <p class="alert"><%= flash.now[:alert] %></p>
<% end %>

<%= render 'form', new: @place %>

<%= link_to "next", new_vehicle_path, class: "btn btn-primary"  %>
